.recipe-details
{
    display: flex;
}
h1
{
    
   
    
    background-color: #f2f2f2;
    text-align: center;
    width: auto;
    margin-bottom: 20px;
    border: 10px solid #fdef27;
    border-radius: 30px;
    
    padding: 30px;
}
img
{
    flex: 1;
    width: 300px;
    height: 300px;
    border: #131313 10px solid;
    border-radius: 20%;
    margin-right: 20px;
    display: block;
    
}
#recipeName
{
    flex: 2;
    font-size: 30px;
    font-family: 'Trebuchet MS';
    text-align: center;
    margin-bottom: 20px;
    display: block;
}
#recipeRegion
{
    display: inline-block;
}